

.image-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300;
    width: 300;
}

img {
    width: 215px;
    border: 2px solid silver;
}

p {
    display: flex;
    flex-wrap: wrap;
    width: 175px;
    text-align: center;
}

