

.image-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300;
    width: 400;
    background-color: whitesmoke;
    margin-top: 20px;
}

img {
    width: 215px;

}

p {
    display: flex;
    flex-wrap: wrap;
    width: 175px;
    text-align: center;
}

h2 {
    font-family: cursive;
}

.text {
    font-weight: bold;
    margin: 5px;
}

